body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.root-div {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.grid-list {
  /* width: 50%; */
  /* height: 450; */
  /* overflowY: 'auto'; */
}
